<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077354953702-samkjbbdffo5qbiji13fp9eh2hkt4si3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077354953702-samkjbbdffo5qbiji13fp9eh2hkt4si3</string>
	<key>API_KEY</key>
	<string>AIzaSyCDztthAPu31m2VyuAV2jUCngsu2tZi_lo</string>
	<key>GCM_SENDER_ID</key>
	<string>1077354953702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marcusneo.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-17d9a</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-17d9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077354953702:ios:7b83a60fdaec448851f427</string>
</dict>
</plist>